.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-image {
	/*fill: #000000;*/
}
.icon-image2 {
	/*fill: #000000;*/
}
.icon-images {
	/*fill: #000000;*/
}
.icon-camera {
	/*fill: #000000;*/
}
.icon-play {
	/*fill: #000000;*/
}
.icon-film {
	/*fill: #000000;*/
}
.icon-camera2 {
	/*fill: #000000;*/
}
.icon-folder {
	/*fill: #000000;*/
}
.icon-folder-open {
	/*fill: #000000;*/
}
.icon-disk {
	/*fill: #000000;*/
}
.icon-lock {
	/*fill: #000000;*/
}
.icon-unlocked {
	/*fill: #000000;*/
}
.icon-wrench {
	/*fill: #000000;*/
}
.icon-cog {
	/*fill: #000000;*/
}
.icon-switch {
	/*fill: #000000;*/
}
.icon-tree {
	/*fill: #000000;*/
}
.icon-download {
	/*fill: #000000;*/
}
.icon-upload {
	/*fill: #000000;*/
}
.icon-download2 {
	/*fill: #000000;*/
}
.icon-upload2 {
	/*fill: #000000;*/
}
.icon-globe {
	/*fill: #000000;*/
}
.icon-earth {
	/*fill: #000000;*/
}
.icon-file-pdf {
	/*fill: #000000;*/
}
